<div class="container">
    <h3>Angular ngOnInit alternatives</h3>
    <p>Welcome to Angular ngOnInit alternatives respository <br> You can use this buttons for link to each one</p>
    <div class="buttons">
        <button routerLink="/subscription" routerLinkActive="active">Subscription</button>
        <button routerLink="/data-processing" routerLinkActive="active">Data Processing</button>
        <button routerLink="/nested-subscription/1" routerLinkActive="active">Nested Subscription</button>
        <button routerLink="/view-model" routerLinkActive="active">View Model</button>
    </div>
</div>

<router-outlet></router-outlet>